---
import Base from "../layouts/base.astro";
import PageHero from "../components/pagehero.astro";
import { SiteMetadata } from "../config";

const frontmatter = {
  title: "お問い合わせ",
  description: "Contact",
  coverSVG: "../images/svg/undraw/undraw_contact_us.svg",
  socialImage: "../images/undraw/undraw_contact_us.png",
  publishDate: SiteMetadata.buildTime,
};
---

<Base frontmatter={frontmatter}>
  <body>
    <main>
      <div x-data="{ isLoading: false }" class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="lg:text-center">
            <h2
              class="text-base text-purple-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
            >
              Contact
            </h2>
            <p
              class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
            >
              お問合わせ
            </p>
            <p
              class="mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto"
            >
              お見積もりや機能など、ご不明な点がございましたらお気軽にご連絡ください。
            </p>
          </div>
          <div
            class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
          >
            <div class="p-8 sm:p-10 lg:flex-auto">
              <div class="bg-white py-24 sm:py-8">
                <div class="mx-auto max-w-4xl ps-6 lg:ps-20">
                  <h3 class="text-2xl font-bold tracking-tight text-gray-900">
                    お問合わせ
                  </h3>
                  <p class="mt-6 text-base leading-7 text-gray-600">
                    ※すでにサービスをご利用中の方で、機能の使い方についてご質問は
                    <a 
                     href="https://3e45ede8.form.kintoneapp.com/public/dbe89b622a813ff3bd14e781547143c6eb055a08f8ea6d9c7475d365b68af87b" 
                     target="_blank"
                     class="underline"
                    >
                    Webフォーム</a>
                    にお問合わせください。
                  </p>
                  <div
                    x-data="{tsnm:'',tnnm:'',tel:'',mail:'',about:''}"
                    class="lg:text-left"
                  >
                    <form id="form" x-on:submit.prevent="isLoading = true">
                      <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                          <div
                            class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                          >
                            <div class="sm:col-span-4">
                              <label
                                for="tsnm"
                                class="block text-sm font-medium leading-6 text-gray-900"
                                >貴社名
                                <div class="mt-2">
                                  <input
                                    type="text"
                                    name="tsnm"
                                    id="tsnm"
                                    autocomplete="organization"
                                    placeholder="例）株式会社ハート酒造"
                                    required
                                    x-model="tsnm"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                  />
                                </div>
                                <!-- <span x-text="tsnm"> -->
                              </label>

                              <div class="sm:col-span-3">
                                <label
                                  for="tnnm"
                                  class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                  >担当者名</label
                                >
                                <div class="mt-2">
                                  <input
                                    type="text"
                                    name="tnnm"
                                    id="name"
                                    autocomplete="name"
                                    placeholder="例）ハート太郎"
                                    required
                                    x-model="tnnm"
                                    class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                  />
                                </div>
                                <!-- <span x-text="tnnm"> </span> -->
                                <div class="sm:col-span-2">
                                  <label
                                    for="tel"
                                    class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                    >電話番号</label
                                  >
                                  <div class="mt-2">
                                    <input
                                      type="tel"
                                      name="tel"
                                      id="tel"
                                      autocomplete="tel"
                                      placeholder="例）0749825650"
                                      required
                                      x-model="tel"
                                      class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                    />
                                  </div>
                                  <!-- <span x-text="tel"> </span> -->
                                  <div class="sm:col-span-4">
                                    <label
                                      for="mail"
                                      class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                      >メールアドレス</label
                                    >
                                    <div class="">
                                      <input
                                        id="mail"
                                        name="mail"
                                        type="email"
                                        autocomplete="email"
                                        placeholder="例）subaru-trial@heart.co.jp"
                                        required
                                        x-model="mail"
                                        class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                      />
                                    </div>
                                  </div>
                                  <div class="sm:col-span-4">
                                    <div class="mt-2">
                                      <label
                                        for="about"
                                        class="block text-sm font-medium leading-6 text-gray-900"
                                      >
                                        お問い合わせ内容
                                      </label>
                                      <div class="mt-2">
                                        <textarea
                                          id="about"
                                          name="about"
                                          rows="6"
                                          required
                                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                        ></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="border-b border-gray-900/10 pb-12">
                                </div>
                                <h2
                                  class="mt-4 text-base font-semibold leading-7 text-gray-900"
                                >
                                  同意事項
                                </h2>
                                <p class="mt-1 text-sm leading-6 text-gray-600">
                                  以下の事項に同意していただく必要があります。
                                </p>

                                <div class="mt-2 space-y-10">
                                  <fieldset>
                                    <div class="mt-6 space-y-6">
                                      <div class="relative flex gap-x-3">
                                        <div class="flex h-6 items-center">
                                          <input
                                            id="privacy"
                                            name="privacy"
                                            type="checkbox"
                                            required
                                            class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                          />
                                        </div>
                                        <div class="text-sm leading-6">
                                          <label
                                            for="privacy"
                                            class="font-medium text-gray-900"
                                            >プライバシーポリシーに同意しました。</label
                                          >
                                          <p class="text-gray-500 underline">
                                            <a
                                              href="https://www.heart.co.jp/privacy-policy/"
                                              target="_blank"
                                              >プライバシーポリシー</a
                                            >
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              <div
                                class="mt-6 flex items-center justify-end gap-x-6"
                              >
                                <button
                                  type="reset"
                                  class="text-sm font-semibold leading-6 text-gray-900"
                                  >キャンセル</button
                                >
                                <button
                                  x-show="isLoading == false"
                                  name="submit"
                                  type="submit"
                                  class="clicked-submit rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                  >送信</button
                                >
                                <!-- 送信中のボタンー -->
                                <button
                                  x-show="isLoading == true"
                                  class="not-allowed clicked-submit rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                                  >送信中...</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      const apiurl =
        "https://prod-31.japanwest.logic.azure.com:443/workflows/f5a3f61f251449ea9ee3594b5bfaa707/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=vpXgW9a9VepCFNAey3GrIt7PYdfG4cnjpPKdm3bCJ54";

      const form = document.getElementById("form");
      // var elmButton = document.getElementById('button.submit');

      form.addEventListener("submit", (event) => {
        // イベントを停止する
        event.preventDefault();

        // elmButton.disabled = true;
        // elmButton.value='送信中...';

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        console.log(data);
        postData(apiurl, data)
          .then((res) => {
            console.log(res); // `data.json()` の呼び出しで解釈された JSON データ
            alert(JSON.stringify(res));
          })
          .catch((error) => {
            console.log(error.message); // エラーが発生した場合は、エラーを処理する
          })
          .finally(() => {
            // リクエストが完了した後に実行する処理
            // alert("申し込みが完了しました。");
            location.href = "/contactcomplete";
          });

        // 改めてsubmitする
        form.submit();
        // elmButton.disabled = false;
      });

      // POST メソッドの実装の例
      async function postData(url = "", data = {}) {
        // 既定のオプションには * が付いています
        const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // 本体のデータ型は "Content-Type" ヘッダーと一致させる必要があります
        });
        return response.json(); // JSON のレスポンスをネイティブの JavaScript オブジェクトに解釈
      }
    </script>
    <style>
      .not-allowed {
        cursor: not-allowed;
      }
    </style>
  </body>
</Base>
