---
import Base from "../layouts/base.astro";
import PageHero from "../components/pagehero.astro";
import { SiteMetadata } from "../config";

const frontmatter = {
  title: "無料トライアル申込",
  description: "Trial",
  coverSVG: "../images/svg/undraw/undraw_contact_us.svg",
  socialImage: "../images/undraw/undraw_contact_us.png",
  publishDate: SiteMetadata.buildTime,
};
---

<Base frontmatter={frontmatter}>
  <body>
    <main>
      <div x-data="{ isLoading: false }" class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="lg:text-center">
            <h2
              class="text-base text-purple-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
            >
              Trial
            </h2>
            <p
              class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
            >
              無料トライアル申込
            </p>
            <p
              class="mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto"
            >
              最大２ヶ月間の無料利用が可能です。
              (トライアル期間１ヶ月＋新規契約時１ヶ月)
            </p>
          </div>
          <div
            class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
          >
            <div class="p-8 sm:p-10 lg:flex-auto">
              <div class="bg-white py-24 sm:py-8">
                <div class="mx-auto max-w-4xl ps-6 lg:ps-20">
                  <h3 class="text-2xl font-bold tracking-tight text-gray-900">
                    申込情報
                  </h3>
                  <p class="mt-6 text-base leading-7 text-gray-600">
                    お試しでご利用をご希望の方は、下記のフォームからお申し込みください。
                  </p>
                  <div
                    x-data="{tsnm:'',tnnm:'',tel:'',mail:''}"
                    class="lg:text-left"
                  >
                    <form id="form" x-on:submit.prevent="isLoading = true">
                      <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                          <div
                            class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                          >
                            <div class="sm:col-span-4">
                              <label
                                for="tsnm"
                                class="block text-sm font-medium leading-6 text-gray-900"
                                >貴社名
                                <div class="mt-2">
                                  <input
                                    type="text"
                                    name="tsnm"
                                    id="tsnm"
                                    autocomplete="organization"
                                    placeholder="例）株式会社ハート酒造"
                                    required
                                    x-model="tsnm"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                  />
                                </div>
                                <!-- <span x-text="tsnm"> -->
                              </label>

                              <div class="sm:col-span-3">
                                <label
                                  for="tnnm"
                                  class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                  >担当者名</label
                                >
                                <div class="mt-2">
                                  <input
                                    type="text"
                                    name="tnnm"
                                    id="name"
                                    autocomplete="name"
                                    placeholder="例）ハート太郎"
                                    required
                                    x-model="tnnm"
                                    class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                  />
                                </div>
                                <!-- <span x-text="tnnm"> </span> -->
                                <div class="sm:col-span-2">
                                  <label
                                    for="tel"
                                    class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                    >電話番号</label
                                  >
                                  <div class="mt-2">
                                    <input
                                      type="tel"
                                      name="tel"
                                      id="tel"
                                      autocomplete="tel"
                                      placeholder="例）0749825650"
                                      required
                                      x-model="tel"
                                      class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                    />
                                  </div>
                                  <!-- <span x-text="tel"> </span> -->
                                  <div class="sm:col-span-4">
                                    <label
                                      for="mail"
                                      class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                      >メールアドレス</label
                                    >
                                    <div class="mt-2">
                                      <input
                                        id="mail"
                                        name="mail"
                                        type="email"
                                        autocomplete="email"
                                        placeholder="例）subaru-trial@heart.co.jp"
                                        required
                                        x-model="mail"
                                        class="input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                      />
                                    </div>
                                    <!-- <span x-text="mail"> </span> -->
                                  </div>
                                </div>
                                <!-- メールアドレス入力欄の下にチェックボックスを追加 -->

                                <label
                                  class="mt-4 block text-sm font-medium leading-6 text-gray-900"
                                  >利用する酒類コード（製成移出申告書品目）</label
                                >
                                <div class="mt-4 grid grid-cols-2 gap-4">
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="110"
                                      name="清酒"
                                      value="110：清酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="110"
                                      class="font-medium text-gray-900"
                                      >110：清酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="111"
                                      name="清酒(20度換算)"
                                      value="111：清酒(20度換算)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="111"
                                      class="font-medium text-gray-900"
                                      >111：清酒(20度換算)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="150"
                                      name="合成清酒"
                                      value="150：合成清酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="150"
                                      class="font-medium text-gray-900"
                                      >150：合成清酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="151"
                                      name="合成清酒(20度換算)"
                                      value="151：合成清酒(20度換算)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="151"
                                      class="font-medium text-gray-900"
                                      >151：合成清酒(20度換算)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="211"
                                      name="連続式蒸留焼酎35度"
                                      value="211：連続式蒸留焼酎35度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="211"
                                      class="font-medium text-gray-900"
                                      >211：連続式蒸留焼酎35度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="212"
                                      name="連続式蒸留焼酎25度"
                                      value="212：連続式蒸留焼酎25度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="212"
                                      class="font-medium text-gray-900"
                                      >212：連続式蒸留焼酎25度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="213"
                                      name="連続式蒸留焼酎20度"
                                      value="213：連続式蒸留焼酎20度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="213"
                                      class="font-medium text-gray-900"
                                      >213：連続式蒸留焼酎20度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="251"
                                      name="単式蒸留焼酎35度"
                                      value="251：単式蒸留焼酎35度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="251"
                                      class="font-medium text-gray-900"
                                      >251：単式蒸留焼酎35度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="252"
                                      name="単式蒸留焼酎25度"
                                      value="252：単式蒸留焼酎25度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="252"
                                      class="font-medium text-gray-900"
                                      >252：単式蒸留焼酎25度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="253"
                                      name="単式蒸留焼酎20度"
                                      value="253：単式蒸留焼酎20度"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="253"
                                      class="font-medium text-gray-900"
                                      >253：単式蒸留焼酎20度</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="310"
                                      name="みりん"
                                      value="310：みりん"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="310"
                                      class="font-medium text-gray-900"
                                      >310：みりん</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="350"
                                      name="ビール"
                                      value="350：ビール"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="350"
                                      class="font-medium text-gray-900"
                                      >350：ビール</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="410"
                                      name="果実酒"
                                      value="410：果実酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="410"
                                      class="font-medium text-gray-900"
                                      >410：果実酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="450"
                                      name="甘味果実酒"
                                      value="450：甘味果実酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="450"
                                      class="font-medium text-gray-900"
                                      >450：甘味果実酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="510"
                                      name="ウィスキー"
                                      value="510：ウィスキー"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="510"
                                      class="font-medium text-gray-900"
                                      >510：ウィスキー</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="520"
                                      name="ウィスキー原酒※"
                                      value="520：ウィスキー原酒※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="520"
                                      class="font-medium text-gray-900"
                                      >520：ウィスキー原酒※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="550"
                                      name="ブランデー"
                                      value="550：ブランデー"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="550"
                                      class="font-medium text-gray-900"
                                      >550：ブランデー</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="560"
                                      name="ブランデー原酒※"
                                      value="560：ブランデー原酒※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="560"
                                      class="font-medium text-gray-900"
                                      >560：ブランデー原酒※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="571"
                                      name="原料用アルコールＡ※"
                                      value="571：原料用アルコールＡ※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="571"
                                      class="font-medium text-gray-900"
                                      >571：原料用アルコールＡ※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="572"
                                      name="原料用アルコールＢ※"
                                      value="572：原料用アルコールＢ※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="572"
                                      class="font-medium text-gray-900"
                                      >572：原料用アルコールＢ※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="581"
                                      name="発泡酒(1)"
                                      value="581：発泡酒(1)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="581"
                                      class="font-medium text-gray-900"
                                      >581：発泡酒(1)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="582"
                                      name="発泡酒(2)"
                                      value="582：発泡酒(2)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="582"
                                      class="font-medium text-gray-900"
                                      >582：発泡酒(2)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="583"
                                      name="発泡酒(3)"
                                      value="583：発泡酒(3)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="583"
                                      class="font-medium text-gray-900"
                                      >583：発泡酒(3)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="591"
                                      name="その他の醸造酒"
                                      value="591：その他の醸造酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="591"
                                      class="font-medium text-gray-900"
                                      >591：その他の醸造酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="610"
                                      name="スピリッツ"
                                      value="610：スピリッツ"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="610"
                                      class="font-medium text-gray-900"
                                      >610：スピリッツ</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="620"
                                      name="グレーンスピリッツ※"
                                      value="620：グレーンスピリッツ※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="620"
                                      class="font-medium text-gray-900"
                                      >620：グレーンスピリッツ※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="630"
                                      name="その他のスピリッツ※"
                                      value="630：その他のスピリッツ※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="630"
                                      class="font-medium text-gray-900"
                                      >630：その他のスピリッツ※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="710"
                                      name="リキュール"
                                      value="710：リキュール"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="710"
                                      class="font-medium text-gray-900"
                                      >710：リキュール</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="711"
                                      name="合成清酒用香味液※"
                                      value="711：合成清酒用香味液※"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="711"
                                      class="font-medium text-gray-900"
                                      >711：合成清酒用香味液※</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="820"
                                      name="粉末酒"
                                      value="820：粉末酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="820"
                                      class="font-medium text-gray-900"
                                      >820：粉末酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="850"
                                      name="雑酒"
                                      value="850：雑酒"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="850"
                                      class="font-medium text-gray-900"
                                      >850：雑酒</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="852"
                                      name="雑酒(みりん類似)"
                                      value="852：雑酒(みりん類似)"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="852"
                                      class="font-medium text-gray-900"
                                      >852：雑酒(みりん類似)</label
                                    >
                                  </div>
                                  <div>
                                    <input
                                      type="checkbox"
                                      id="999"
                                      name="なし"
                                      value="999：なし"
                                      checked="true"
                                      class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                    />
                                    <label
                                      for="999"
                                      class="font-medium text-gray-900"
                                      >999：なし（酒以外）</label
                                    >
                                  </div>
                                </div>

                                <div class="border-b border-gray-900/10 pb-12">
                                </div>
                                <h2
                                  class="mt-4 text-base font-semibold leading-7 text-gray-900"
                                >
                                  同意事項
                                </h2>
                                <p class="mt-1 text-sm leading-6 text-gray-600">
                                  以下の事項に同意していただく必要があります。
                                </p>

                                <div class="mt-2 space-y-10">
                                  <fieldset>
                                    <div class="mt-6 space-y-6">
                                      <div class="relative flex gap-x-3">
                                        <div class="flex h-6 items-center">
                                          <input
                                            id="kiyaku"
                                            name="kiyaku"
                                            type="checkbox"
                                            required
                                            value="利用規約に同意しました。"
                                            class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                          />
                                        </div>
                                        <div class="text-sm leading-6">
                                          <label
                                            for="kiyaku"
                                            class="font-medium text-gray-900"
                                            >利用規約に同意しました。</label
                                          >
                                          <p class="text-gray-500 underline">
                                            <a href="#" target="_blank"
                                              >利用規約</a
                                            >
                                          </p>
                                        </div>
                                      </div>
                                      <div class="relative flex gap-x-3">
                                        <div class="flex h-6 items-center">
                                          <input
                                            id="privacy"
                                            name="privacy"
                                            type="checkbox"
                                            value="プライバシーポリシーに同意しました。"
                                            required
                                            class="input h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                          />
                                        </div>
                                        <div class="text-sm leading-6">
                                          <label
                                            for="privacy"
                                            class="font-medium text-gray-900"
                                            >プライバシーポリシーに同意しました。</label
                                          >
                                          <p class="text-gray-500 underline">
                                            <a
                                              href="https://www.heart.co.jp/privacy-policy/"
                                              target="_blank"
                                              >プライバシーポリシー</a
                                            >
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>

                              <div
                                class="mt-6 flex items-center justify-end gap-x-6"
                              >
                                <button
                                  type="reset"
                                  class="text-sm font-semibold leading-6 text-gray-900"
                                  >キャンセル</button
                                >
                                <button
                                  x-show="isLoading == false"
                                  name="submit"
                                  type="submit"
                                  class="clicked-submit rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                  >申し込む</button
                                >
                                <!-- 送信中のボタンー -->
                                <button
                                  x-show="isLoading == true"
                                  class="not-allowed clicked-submit rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                                  >送信中...</button
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const apiurl: string =
          "https://prod-00.japanwest.logic.azure.com:443/workflows/e30bba51052a4eb9a18ec717b003e72c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=RZmz90Wff_rdulMeWBJHUeBwah0K3qx8gVVxFX9DgTg";
        const form: HTMLFormElement = document.getElementById(
          "form"
        ) as HTMLFormElement;

        form.addEventListener("submit", async (event: Event) => {
          event.preventDefault();

          const formData: FormData = new FormData(form);
          const data: Record<string, any> = Object.fromEntries(
            formData.entries()
          );

          // チェックされたチェックボックスの値を収集（required属性があるものは除外）
          let checkedOptions: string[] = [];
          document
            .querySelectorAll<HTMLInputElement>(
              'input[type="checkbox"]:checked:not([required])'
            )
            .forEach((checkbox) => {
              checkedOptions.push(checkbox.value);
            });

          // チェックされた項目のデータを追加
          data.checkedOptions = checkedOptions;

          console.log(data);
          try {
            const res = await postData(apiurl, data);
            console.log(res);
            alert(JSON.stringify(res));
          } catch (error) {
            console.error((error as Error).message);
          } finally {
            location.href = "/trialcomplete";
          }
        });

        async function postData(
          url: string,
          data: Record<string, any>
        ): Promise<any> {
          const response: Response = await fetch(url, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json",
            },
            redirect: "follow",
            referrerPolicy: "no-referrer",
            body: JSON.stringify(data),
          });
          return response.json();
        }
      });
    </script>

    <style>
      .not-allowed {
        cursor: not-allowed;
      }

      .checkbox-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .checkbox-custom {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
      }

      .checkbox-label {
        cursor: pointer;
      }
    </style>
  </body>
</Base>
