---
import Img from '../components/img.astro'

const callouts = [
  {
    name: 'Astro',
    description: 'Build faster websites with less client-side Javascript',
    imageSrc: '../images/svg/astro/full-logo-light.svg',
    imageAlt: 'Astro logo',
    href: 'https://astro.build',
  },
  {
    name: 'TailwindCSS',
    description:
      'A utility-first CSS framework that can be composed to build any design, directly in your markup',
    imageSrc: '../images/svg/undraw/undraw_tailwind_css.svg',
    imageAlt: 'TailwindCSS drawing',
    href: 'https://tailwindcss.com',
  },
  {
    name: 'HTML/CSS/Javascript',
    description: 'The core building blocks of the web',
    imageSrc: '../images/svg/undraw/undraw_static_assets.svg',
    imageAlt: 'Core Web',
    href: 'https://w3.org',
  },
]
---

<div class="bg-purple-100 dark:bg-purple-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h2 class="text-4xl font-extrabold text-purple-800 dark:text-purple-100">
        もっと見る
      </h2>
      <div>...工事中</div>
    </div>
  </div>
</div>
